body{
	background-image: url("images/images.jpg");
	background-size: cover;
	text-align: center;

}

.login{

	width: auto;
	margin-top: 130px;
	line-height: 40px;
}

form input{

	border: none;
	padding: 5px;
	opacity: 0.8;
	border-radius: 3px;
}

form button{

		/*background-color: #5a4239/;*/
		opacity: 0.8;
		padding: 4px 20px;
		border-radius: 2px;
		border: none;
}